.SearchResults {
    border: 1px solid #000;
    background: rgba(232, 182, 167, 0.60);
    width: 29rem;
    height: 32rem;
    flex-shrink: 0;
    padding: 20px;
    margin-bottom: 80px;
}

.SearchResults h2 {
    color: #000;
    font-size: 1.875rem;
    line-height: normal;
    margin-bottom: 20px;    
}