.SearchResults {
    border: 1px solid #000;
    background: rgba(232, 182, 167, 0.60);
    width: 28.9375rem;
    height: 32rem;
    flex-shrink: 0;

}

.SearchResults h2 {
    color: #000;
    font-size: 1.875rem;
    line-height: normal;
    margin: 10px;
}