.TrackName {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.TrackArtistAlbum {
  font-size: 1rem;
  color: #303030;
}

.TrackArtistAlbum span {
  font-weight: bold;
  color: #00000052;
}

.Track {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #000;
}

.Track-action {
border: none;
background-color: unset;
font-size: 2rem;
}

.Track-action:hover {
cursor: pointer;
}

.addTrack:hover {
  color: #00ff59;

}

.removeTrack:hover {
  color: #e9450e;

}